*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-kerning: auto;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
html {
    -webkit-text-size-adjust: 100%;
    background-color:#222222;
    height: 100%;
}
body {
    margin: 0;
    padding: 0;
    position: relative;
    font-size: 1.4em;
    line-height: 1.4;
    font-weight: 400;
    font-family: 'Open Sans', 'Source Sans Pro', Roboto, 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', 'Myriad Pro', 'Segoe UI', Myriad, Helvetica, 'Lucida Grande', 'DejaVu Sans Condensed', 'Liberation Sans', 'Nimbus Sans L', Tahoma, Geneva, Arial, sans-serif;
    -webkit-text-size-adjust: 100%;
    background-color:#222222;
    color: #777777;
    height: 100%;
}
/*---------------------*
 *------ Buttons ------*
 *---------------------*/
[data-button],
[data-button]:visited,
button,
button:visited {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: inline-block;
    width: auto;
    margin: .5em auto;
    padding: .5em 1.25em .55em 1.25em;
    -webkit-appearance: none;
    appearance: none;
    outline: none;
    cursor: pointer;
    background: #608f06;
    font-weight: 600;
    font-kerning: auto;
    text-decoration: none !important;
    text-align: center;
    font-size: 1em;
    line-height: 1;
    color: #ffffff !important;
    text-transform: none;
    border: none;
    border-top: none;
    border-right: none;
    border-bottom: none;
    border-left: none;
    /*box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);*/
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    border-radius: 4px;
    text-shadow: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
}
[data-button]:hover,
[data-button]:focus,
button:hover,
button:focus {
    background: #416400;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.5);
}
[data-button]:active,
button:active {
    background: #416400;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.75);
}
.button-large {
    font-size: 1.5em;
    text-transform: uppercase;
}
.button-wide {
    padding: .4em 1.6em .36em 1.6em;
}
/*--- Green Button ---*/
[data-button="red"],
[data-button="red"]:hover,
[data-button="red"]:focus,
[data-button="red"]:active,
[data-button="red"]:visited {
    background: #d70033;
}
[data-button="red"]:hover,
[data-button="red"]:focus {
    background: #b2002c;
}
[data-button="red"]:active {
    background: #940028;
}
/*--- Layout ---*/
#game {
    display: block;
    width: 642px;
    height: 100%;
    max-height: 100%;
    max-width: 100%;
    margin: 0 auto;
    padding: 0;
    border: 1px solid #000000;
    position: relative;
    overflow: hidden;
}
@media screen and (min-width: 642px) {
    #game {
        width: 642px;
    }
}
/*--- Notifications ---*/
#notif {
    display: block;
    width: 100%;
    height: 0;
    overflow: hidden;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 65px;
    background: transparent;
    font-size: 12px;
    line-height: 16px;
    color: #ffffff;
    text-align: center;
    z-index: 999999;
}
#notif.active {
    height: auto;
}
#notif .message {
    display: block;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 15px;
    border-top: 1px solid #000000;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
}
#notif .message.ok {
    background: rgba(96, 143, 6, 0.8);
}
#notif .message.err {
    background: rgba(215, 0, 51, 0.8);
}
/*--- Header ---*/
#header {
    display: block;
    width: 100%;
    height: 65px;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    margin: 0;
    padding: 15px;
    background: rgba(0,0,0,0.8);
    color: #ffffff;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: 9999999;
}
#header .toggle-inventory {
    display: block;
    cursor: pointer;
    position: absolute;
    top: 15px;
    left: 15px;
}
#header .toggle-inventory i {
    font-size: 30px;
    line-height: 30px;
}
#header .toggle-shop {
    display: block;
    cursor: pointer;
    position: absolute;
    top: 15px;
    left: 65px;
    margin: 0;
    padding: 0;
    cursor: pointer;
}
#header .toggle-shop i {
    font-size: 30px;
    line-height: 30px;
}
#header .toggle-settings {
    display: block;
    cursor: pointer;
    position: absolute;
    top: 15px;
    right: 15px;
    margin: 0;
    padding: 0;
    cursor: pointer;
}
#header .toggle-settings i {
    font-size: 30px;
    line-height: 30px;
}
#header #wparts {
    display: block;
    width: 150px;
    margin: auto;
}
@media screen and (max-width: 400px) {
    #header .toggle-inventory i,
    #header .toggle-fullscreen i,
    #header .toggle-shop i {
        font-size: 24px;
    }
    #header .toggle-shop {
        left: 55px;
    }
    #header .toggle-fullscreen {
        right: 50px;
    }
}
/*--- Settings ---*/
#settings {
    display: block;
    width: 100%;
    height: auto;
    height: calc(100% - 65px);
    overflow: hidden;
    margin: 0;
    padding: 0;
    position: absolute;
    top: -100%;
    background: rgba(0,0,0,0.8);
    z-index: 99999;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
}
#settings.active {
    top: 65px;
}
#settings > .toggle-settings {
    position: absolute;
    display: block;
    width: 25px;
    height: 25px;
    right: 0px;
    bottom: 0px;
    background: rgba(255,255,255,0.1);
    font-size: 16px;
    line-height: 25px;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
    cursor: pointer;
}
#settings ul.menu {
    display: block;
    margin: 0;
    padding: 15px;
    list-style: none;
    font-size: 16px;
    line-height: 18px;
    color: #ffffff;
}
#settings ul.menu li {
    display: block;
    width: 100%;
    margin: 0;
    padding: 10px 0;
}
#settings ul.menu li i {
    font-size: 26px;
    line-height: 26px;
    vertical-align: middle;
}
#settings ul.menu #game-reset {
    color: darkred;
}
/*--- Battleground ---*/
#battleground {
    display: block;
    width: 100%;
    height: calc(100% - 100px);
    text-align: center;
    margin: 0;
    padding: 65px 15px 15px 15px;
    background: #000000;
    background-image:url(img/bg1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow-x: hidden;
    overflow-y: scroll;
}
#character {
    display: block;
    width: 100%;
    height: 100px;
    text-align: center;
    margin: 0;
    padding: 15px;
    background: #000000;
    color: #ffffff;
    overflow: hidden;
}
.clearfix:after {
    content: "";
    display: block;
    clear: both;
}
#character .character-left,
#character .character-right {
    display: block;
    width: 50%;
    margin: 0;
    padding: 0 15px;
    float: left;
}
#character #player {

}
#character #player i.icon-space-hunter {
    display: block;
    font-size: 50px;
    line-height: 50px;
}
.healthbar {
    position: relative;
    display: block;
    width: 100%;
    height: 20px;
    background: darkred;
}
.healthbar .inner-health {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: green;
}
.healthbar .health-digit {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    color: #ffffff;
    font-size: 12px;
    line-height: 20px;
    z-index: 999;
}
#character #weapon,
#character #potion {
    display: block;
    width: 50%;
    height: 70px;
    margin: 0;
    padding: 0 15px;
    float: left;
}
#character #weapon .inner,
#character #potion .inner {
    display: block;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 15px;
    background: rgba(0,0,0,0.25);
    border: 1px solid rgba(225,255,255,0.5);
    cursor: pointer;
    vertical-align: middle;
}
#character #potion .inner {
    line-height: 40px;
}
#character #potion i {
    font-size: 32px;
    line-height: 44px;
}
#character #potion span.potion-count {
    font-size: 12px;
    vertical-align: top;
}
#character #weapon .inner {
    position: relative;
}
#character #weapon .inner[data-rare="basic"] {
    background: #2f6b3c;
}
#character #weapon .inner[data-rare="rare"] {
    background: #557f9e;
}
#character #weapon .inner[data-rare="legendary"] {
    background: #4e3263;
}
#character #weapon .inner[data-rare="exotic"] {
    background: #ceae32;
}
#character #weapon .inner img {
    display: inline-block;
    width: 32px;
    height: 32px;
    margin: 0 auto;
    vertical-align: middle;
}
#character #weapon .inner img.weapon-element {
    display: block;
    position: absolute;
    width: 15px;
    height: 15px;
    top: 5px;
    left: 5px;
    margin: 0 5px 0 0;
    vertical-align: middle;
}
@media screen and (max-width: 600px) {
    #character .character-left {
        width: 30%;
    }
    #character .character-right {
        width: 70%;
    }
}
@media screen and (max-width: 500px) {
    #character {
        height: 170px;
    }
    #battleground {
        height: calc(100% - 170px);
    }
    #character #player {
        display: block;
        width: 25%;
        float: left;
    }
    #character #health {
        display: block;
        width: 75%;
        float: left;
        margin-top: 7px;
    }
    #character .character-left,
    #character .character-right {
        width: 100%;
        float: none;
        clear: both;
        padding: 0 0 15px 0;
    }
    #character #weapon {
        padding: 0 0 0 15px;
    }
    #character #potion {
        padding: 0 15px 0 0;
    }
}
/*--- Monster ---*/
.monster {
    display: block;
    position: relative;
    width: 300px;
    height: 115px;
    margin: 10px auto;
    padding: 0;
    text-align: left;
    border-radius: 5px;
    background: none;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
}
.monster:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image:url(img/monster-bg.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    overflow: hidden;
    z-index: 2;
}
.monster:after {
    content: "";
    display: block;
    clear: both;
}
.monster-img {
    display: block;
    width: 66px;
    height: 66px;
    border-radius: 0;
    float: left;
    margin: 15px 0 0 8px;
    background-color: #000000;
    background-image:url(img/monsters.png);
    background-repeat: no-repeat;
    background-position: -2px -2px;
    border: 1px groove #cccccc;
    overflow: hidden;
    position: relative;
    z-index: 99;
}
.monster .monster-name {
    display: block;
    width: calc(100% - 75px);
    height: 30px;
    float: left;
    padding: 7px 12px 0 30px;
    font-size: 16px;
    line-height: 20px;
    text-transform: capitalize;
    overflow: hidden;
    position: relative;
    color: #ffffff;
    z-index: 99;
}
.monster .monster-details {
    display: block;
    width: 140px;
    padding: 0 8px;
    float: left;
    position: relative;
    z-index: 99;
}
.monster .stats {
    display: block;
    margin: 0;
    padding: 17px 0 0 8px;
    font-size: 14px;
    line-height: 16px;
}
.monster .stats > span {
    display: block;
    width: 32px;
    height: 32px;
    background: transparent;
    border-radius: 50%;
    float: left;
    margin: 0 3px;
    padding: 0;
    font-size: 12px;
    font-weight: bold;
    line-height: 34px;
    text-align: center;
    color: #000000;
}
.monster .stats > .level {

}
.monster .stats > .elemental {
    background-repeat: no-repeat;
    background-position: center;
}
.monster .stats > .elemental > span {
    display: none;
}
.monster .stats > .dmg {
    color: darkred;
}
.monster .shield {
    display: block;
    position: absolute;
    bottom: 17px;
    left: 10px;
    width: 172px;
    height: 4px;
    float: left;
    background: #000000;
    overflow: hidden;
    z-index: 1;
}
.monster .shield .inner-shield {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: blue;
}
.monster .shield .shield-digit {
    display: none;
}
.monster .healthbar {
    display: block;
    position: absolute;
    bottom: 7px;
    left: 16px;
    width: 167px;
    height: 8px;
    float: left;
    background: darkred;
    overflow: hidden;
    z-index: 1;
}
.monster .healthbar .inner-health {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: green;
}
.monster .healthbar .health-digit {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
    color: #ffffff;
    font-size: 12px;
    line-height: 20px;
    z-index: 999;
}
.monster button.attack-monster {
    display: block;
    width: 75px;
    height: 75px;
    margin: 3px 4px 0 0;
    padding: 0;
    float: right;
    background-color: transparent;
    background-image:url(img/target.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    border: none;
    outline: none !important;
    position: relative;
    z-index: 99;
}
.monster button.attack-monster i {
    display: none;
    width: 60px;
    height: 60px;
    margin: 0;
    padding: 0;
    font-size: 60px;
    line-height: 64px;
    text-align: center;
    vertical-align: middle;
    border-radius: 50%;
    background: transparent;
    color: #DA2F18;
}
@media screen and (min-width: 642px) {
    .monster {
        float: left;
    }
    .monster:nth-of-type(odd) {
        margin-right: 10px;
    }
}
@media screen and (max-width: 450px) {
    .monster .monster-details .name {
        font-size: 16px;
        line-height: 16px;
    }
    .monster .stats {
        font-size: 12px;
        line-height: 14px;
    }
}
/*--- Boss ---*/
.monster.boss {
    display: block;
    float: none;
    margin: 100px auto 0 auto;
    transform: scale(1.75);
}
@media screen and (max-width: 600px) {
    .monster.boss {
        transform: scale(1.5);
    }
}
@media screen and (max-width: 500px) {
    .monster.boss {
        transform: scale(1.25);
    }
}
@media screen and (max-width: 400px) {
    .monster.boss {
        transform: scale(1);
    }
}
/*--- Inventory ---*/
#inventory {
    display: block;
    width: 100%;
    height: auto;
    height: calc(100% - 65px);
    overflow: hidden;
    margin: 0;
    padding: 0;
    position: absolute;
    top: -100%;
    background: rgba(0,0,0,0.8);
    z-index: 99999;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
}
#inventory.active {
    top: 65px;
}
#inventory > .toggle-inventory {
    position: absolute;
    display: block;
    width: 25px;
    height: 25px;
    right: 0px;
    bottom: 0px;
    background: rgba(255,255,255,0.1);
    font-size: 16px;
    line-height: 25px;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
    cursor: pointer;
}
#inventory #item-viewer {
    display: block;
    position: relative;
    width: 100%;
    height: 160px;
    margin: 0 0 15px 0;
    padding: 0;
    border-bottom: 1px solid #222;
    background-repeat: no-repeat;
    background-size: auto 64px;
    background-position: center 64px;
}
#inventory #item-viewer[data-rare="basic"] {
    background-color: #2f6b3c;
}
#inventory #item-viewer[data-rare="rare"] {
    background-color: #557f9e;
}
#inventory #item-viewer[data-rare="legendary"] {
    background-color: #4e3263;
}
#inventory #item-viewer[data-rare="exotic"] {
    background-color: #ceae32;
}
#inventory #item-viewer .stats {
    display: block;
    width: 100%;
    float: none;
    margin: 0;
    padding: 5px 10px;
    background: rgba(0,0,0,0.5);
    font-size: 14px;
    line-height: 16px;
    color: #ffffff;
}
#inventory #item-viewer .stats .equipped {
    display: block;
    width: 100%;
    float: none;
    clear: both;
    margin: 0;
    padding: 8px 0 0 0;
    color: yellow;
}
#inventory #item-viewer .stats > span,
#inventory #item-viewer .stats .equipped > span {
    display: block;
    width: 20%;
    float: left;
    margin: 0;
    padding: 0 2px;
    overflow: hidden;
    text-align: center;
}
#inventory #item-viewer .stats > span.element img,
#inventory #item-viewer .stats .equipped > span.element img {
    vertical-align: middle;
}
#inventory #item-viewer .actions {
    display: block;
    width: 100%;
    position: absolute;
    bottom: 0;
    margin: 0;
    padding: 5px 10px;
    font-size: 14px;
    line-height: 16px;
    color: #ffffff;
}
#inventory #item-viewer .actions button {
    margin: 0;
}
#inventory #item-viewer .actions button.equip {
    float: right;
}
#inventory #item-viewer .actions button.delete {
    float: left;
}
#inventory #item-viewer .actions button.delete i {
    font-size: 16px;
}
#inventory .inventory-grid {
    display: block;
    width: calc(100% + 40px);
    height: 100%;
    max-height: calc(100% - 175px);
    margin: 0;
    padding: 15px 55px 15px 15px;
    overflow-x: hidden;
    overflow-y: scroll;
}
#inventory .inventory-grid:after {
    content: "";
    display: block;
    clear: both;
}
#inventory .inventory-grid .item {
    position: relative;
    display: block;
    width: 50px;
    height: 50px;
    float: left;
    margin: 5px;
    padding: 5px;
    border: 1px solid #cccccc;
    box-shadow: inset 0 0 0 1px #ffffff;
    background: whitesmoke;
    overflow: hidden;
}
#inventory .inventory-grid .item[data-rare="basic"] {
    background: #2f6b3c;
}
#inventory .inventory-grid .item[data-rare="rare"] {
    background: #557f9e;
}
#inventory .inventory-grid .item[data-rare="legendary"] {
    background: #4e3263;
}
#inventory .inventory-grid .item[data-rare="exotic"] {
    background: #ceae32;
}
#inventory .inventory-grid .item.active {
    border-color: yellow;
}
#inventory .inventory-grid .item img.elemental {
    display: block;
    width: 10px;
    height: auto;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 5px;
    left: 5px;
}
#inventory .inventory-grid .item .item-img {
    display: block;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
@media screen and (max-width: 500px) {
    #inventory #item-viewer .stats {
        font-size: 12px;
        line-height: 14px;
    }
}
/*--- Shop ---*/
#shop {
    display: block;
    width: 100%;
    height: auto;
    height: calc(100% - 65px);
    overflow: hidden;
    margin: 0;
    padding: 0;
    position: absolute;
    top: -100%;
    background: rgba(0,0,0,0.8);
    z-index: 99999;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
}
#shop.active {
    top: 65px;
}
#shop > .toggle-shop {
    position: absolute;
    display: block;
    width: 25px;
    height: 25px;
    right: 0px;
    bottom: 0px;
    background: rgba(255,255,255,0.1);
    font-size: 16px;
    line-height: 25px;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
    cursor: pointer;
}
#shop #shop-potions,
#shop #shop-weapons {
    display: block;
    position: relative;
    width: 100%;
    height: auto;
    max-height: 50%;
    margin: 0 0 15px 0;
    padding: 0;
    border-bottom: 1px solid #222;
    background-repeat: no-repeat;
    background-size: auto 64px;
    background-position: center 64px;
}
/*--- Shop Item Grid ---*/
.item-grid {
    display: block;
    width: calc(100% + 40px);
    height: 100%;
    margin: 0;
    padding: 15px 55px 15px 15px;
    text-align: center;
    overflow-x: hidden;
    overflow-y: scroll;
}
.item-grid:after {
    content: "";
    display: block;
    clear: both;
}
.item-grid .item {
    position: relative;
    display: block;
    width: 50px;
    height: 50px;
    float: left;
    margin: 5px;
    padding: 5px;
    border: 1px solid #cccccc;
    box-shadow: inset 0 0 0 1px #ffffff;
    background: whitesmoke;
    overflow: hidden;
}
.item-grid .item[data-rare="basic"],
.item-grid .item[data-size="small"] {
    background: #2f6b3c;
}
.item-grid .item[data-rare="rare"],
.item-grid .item[data-size="medium"] {
    background: #557f9e;
}
.item-grid .item[data-rare="legendary"],
.item-grid .item[data-size="large"] {
    background: #4e3263;
}
.item-grid .item[data-rare="exotic"] {
    background: #ceae32;
}
.item-grid .item.active {
    border-color: yellow;
}
.item-grid .item img.elemental {
    display: block;
    width: 10px;
    height: auto;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 5px;
    left: 5px;
}
.item-grid .item .item-img {
    display: block;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.item-grid .item i {
    display: block;
    width: 100%;
    height: 100%;
    font-size: 38px;
    line-height: 42px;
    margin: 0;
    padding: 0;
    color: #ffffff;
}
.shop-item {
    display: inline-block;
    width: 60px;
    margin: 0 15px;
    font-size: 14px;
    line-height: 14px;
}
.shop-item .item {
    margin: 5px auto;
    float: none;
}
.shop-item .price {
    display: block;
    width: 100%;
    margin: 0;
    padding: 5px 0;
    font-size: 14px;
    line-height: 14px;
    color: gold;
    text-align: center;
}
.shop-item .amount {
    display: block;
    width: 100%;
    margin: 0;
    padding: 5px 0;
    font-size: 14px;
    line-height: 14px;
    color: limegreen;
    text-align: center;
}
.shop-item .stats span {
    display: block;
    width: 100%;
}
.shop-item .stats .dmg {
    color: white;
}
.shop-item .stats .crit {
    color: red;
}
.shop-item .stats .special {
    color: gold;
}
#shop .noitems {
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;
}
/*------------------------*
 *------ Animations ------*
 *------------------------*/
.animated {
    animation-duration: 0.3s;
    animation-fill-mode: both;
}
.animated.infinite {
    animation-iteration-count: infinite;
}
.animated.hinge {
    animation-duration: 2s;
}
.animated.flipOutX,
.animated.flipOutY,
.animated.bounceIn,
.animated.bounceOut {
    animation-duration: .75s;
}
@keyframes bounce {
    from, 20%, 53%, 80%, to {
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        transform: translate3d(0,0,0);
    }
    40%, 43% {
        animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        transform: translate3d(0, -30px, 0);
    }
    70% {
        animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        transform: translate3d(0, -15px, 0);
    }
    90% {
        transform: translate3d(0,-4px,0);
    }
}
.bounce {
    animation-name: bounce;
    transform-origin: center bottom;
}
@keyframes flash {
    from, 50%, to {
        opacity: 1;
    }
    25%, 75% {
        opacity: 0;
    }
}
.flash {
    animation-name: flash;
}
@keyframes pulse {
    from {
        transform: scale3d(1, 1, 1);
    }
    50% {
        transform: scale3d(1.05, 1.05, 1.05);
    }
    to {
        transform: scale3d(1, 1, 1);
    }
}
.pulse {
    animation-name: pulse;
}
@keyframes rubberBand {
    from {
        transform: scale3d(1, 1, 1);
    }
    30% {
        transform: scale3d(1.25, 0.75, 1);
    }
    40% {
        transform: scale3d(0.75, 1.25, 1);
    }
    50% {
        transform: scale3d(1.15, 0.85, 1);
    }
    65% {
        transform: scale3d(.95, 1.05, 1);
    }
    75% {
        transform: scale3d(1.05, .95, 1);
    }
    to {
        transform: scale3d(1, 1, 1);
    }
}
.rubberBand {
    animation-name: rubberBand;
}
@keyframes shake {
    from, to {
        transform: translate3d(0, 0, 0);
    }
    10%, 30%, 50%, 70%, 90% {
        transform: translate3d(-10px, 0, 0);
    }
    20%, 40%, 60%, 80% {
        transform: translate3d(10px, 0, 0);
    }
}
.shake {
    animation-name: shake;
}
@keyframes headShake {
    0% {
        transform: translateX(0);
    }
    6.5% {
        transform: translateX(-6px) rotateY(-9deg);
    }
    18.5% {
        transform: translateX(5px) rotateY(7deg);
    }
    31.5% {
        transform: translateX(-3px) rotateY(-5deg);
    }
    43.5% {
        transform: translateX(2px) rotateY(3deg);
    }
    50% {
        transform: translateX(0);
    }
}
.headShake {
    animation-timing-function: ease-in-out;
    animation-name: headShake;
}
@keyframes swing {
    20% {
        transform: rotate3d(0, 0, 1, 15deg);
    }
    40% {
        transform: rotate3d(0, 0, 1, -10deg);
    }
    60% {
        transform: rotate3d(0, 0, 1, 5deg);
    }
    80% {
        transform: rotate3d(0, 0, 1, -5deg);
    }
    to {
        transform: rotate3d(0, 0, 1, 0deg);
    }
}
.swing {
    transform-origin: top center;
    animation-name: swing;
}
@keyframes tada {
    from {
        transform: scale3d(1, 1, 1);
    }
    10%, 20% {
        transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
    }
    30%, 50%, 70%, 90% {
        transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    }
    40%, 60%, 80% {
        transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    }
    to {
        transform: scale3d(1, 1, 1);
    }
}
.tada {
    animation-name: tada;
}
@keyframes wobble {
    from {
        transform: none;
    }
    15% {
        transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
    }
    30% {
        transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
    }
    45% {
        transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
    }
    60% {
        transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
    }
    75% {
        transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
    }
    to {
        transform: none;
    }
}
.wobble {
    animation-name: wobble;
}
@keyframes jello {
    from, 11.1%, to {
        transform: none;
    }
    22.2% {
        transform: skewX(-12.5deg) skewY(-12.5deg);
    }
    33.3% {
        transform: skewX(6.25deg) skewY(6.25deg);
    }
    44.4% {
        transform: skewX(-3.125deg) skewY(-3.125deg);
    }
    55.5% {
        transform: skewX(1.5625deg) skewY(1.5625deg);
    }
    66.6% {
        transform: skewX(-0.78125deg) skewY(-0.78125deg);
    }
    77.7% {
        transform: skewX(0.390625deg) skewY(0.390625deg);
    }
    88.8% {
        transform: skewX(-0.1953125deg) skewY(-0.1953125deg);
    }
}
.jello {
    animation-name: jello;
    transform-origin: center;
}